body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #3a3a3a;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Medium, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .btn-gradient {
    background: linear-gradient(to right, #af206e, #6f5aad);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-gradient:hover {
    opacity: 0.9;
  }
  