body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #3a3a3a;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Medium', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .Content {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .FillerImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .NavBar {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  