.profile-page {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #efefef;
    padding: 20px;
  }
  
  .profile-info {
    text-align: center;
  }
  
  .profile-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .profile-info h2 {
    margin-top: 10px;
  }
  
  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 10px 0;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: #3a3a3a;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-content section {
    margin-bottom: 20px;
  }
  
  .interaction-buttons button {
    margin-right: 10px;
    background: linear-gradient(to right, #af206e, #6f5aad);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  